body {
	background: linear-gradient(to bottom, white, PeachPuff)
}


header {
	Background-color: Coral;
	border-bottom-width: thin;
	border-bottom-style: solid;
	border-bottom-color: #003;
	text-align: center;
	margin: 20px;
	font-family: Monotype Corsiva;
	color: black;

}
	
p {
	font-family: Bahnschrift Light;
	color: black;
	border-width: thin;
	border-style: solid;
	border-color: Tomato;
	font-size: 18px;
	text-align: center;
}

h3 {
	font-family:  Bahnschrift;
	border-width: thin;
	border-style: dotted;
	border-color: maroon;
	text-align: center;
	color: Maroon;
}



li {
	font-family:  Bahnschrift Light;
}

salary {
		font-family:  Bahnschrift Light;
		
}
nav {
  float: center;
  width: 30%;
  background: PaleVioletRed;
  padding: 5px;
  border-color: black;
  border-bottom-width: thin;
  border-style: solid;
}
nav ul {
  list-style-type: none;
  padding: 0;
}
a:link {
	color: white;
	text-decoration: none;
	}

a:visited {
	color: MistyRose;
	text-decoration: none;
	}
	
a:hover {
	color: salmon;
	text-decoration: none;
	}